{{!< default}}

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->


<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img class="img-rounded" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>
</header>


<div class="container">
    <div class="row articles">

        {{#foreach posts}}
        <div class="col-md-4 article" id="post-{{id}}">
            <div class="post panel {{post_class}}">
                <section class="image">
                    <a href="{{url}}">
                        <img src="assets/img/blank.png" class="square">
                    </a>
                </section>
                <section class="text" id="post-text-{{id}}">
                    <h4 class="title"> <a href="{{url}}"> {{{title}}} </a> </h4>
                    <h6 class="byline">
                        <!-- By {{author.name}} @ -->
                        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                    </h6>
                    <hr>
                    {{{content words="30"}}}
                </section>
                {{#if tags}}
                <section class="tags">
                    <p>
                        #{{tags separator=" #"}}
                    </p>
                </section>
                {{/if}}
            </div>
        </div>
        {{/foreach}}

    </div>
</div>

<!--
{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
-->
