{{!< default}}

<article>
    {{#post}}
        <header class="post-head">
            <div class="vertical">
                <div class="inner">
                    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img class="blog-logo-post img-rounded" src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}

                    <h2 class="post-title">{{{title}}}</h2>
                    <h4>
                        {{#if author}}
                        <span class="post-meta"><span class="glyphicon glyphicon-user"></span> {{author.name}}</span>
                        {{/if}}
                        <span class="post-meta"><span class="glyphicon glyphicon-calendar"></span> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></span>
                        {{#if tags}}
                        <span class="post-meta"><span class="glyphicon glyphicon-tags"></span> {{tags prefix="" separator=", "}}</span>
                        {{/if}}
                    </h4>
                </div>
            </div>
        </header>

        <div class="col-md-8 col-md-offset-2 post-content">
            <div class="panel {{post_class}}">
                <section class="text">
                   <p>{{content}}</p>
                </section>
            </div>
        </div>
    {{/post}}
</article>
